# Problem Statement:

- Based on the km_driven, manufacturing year, owner, fuel, seller type and transmission we need to predict the selling price of the car

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
data.shape

(4340, 8)

# Observations:
- There are 4340 rows and 8 columns in the data.
- Each single rows is representing 1 car detials.

# Step 3 : Data Preprocessing & Data Wrangling

In [5]:
data.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

#### Assignment: Apply str.split() on the name column of the data. From the output the 1st col will give the car's company name and 2nd col will give me the car's model name. You can use these 2 cols to perform encoding instead of dropping

In [7]:
data = data.drop('name', axis  = 1)
data.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [8]:
data['owner'].unique()

array(['First Owner', 'Second Owner', 'Fourth & Above Owner',
       'Third Owner', 'Test Drive Car'], dtype=object)

In [9]:
dic = {
    'Test Drive Car' : 0,
    "First Owner" : 1,
    "Second Owner" : 2,
    "Third Owner" : 3,
    'Fourth & Above Owner' : 4
}
dic

{'Test Drive Car': 0,
 'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth & Above Owner': 4}

In [10]:
data["owner"] = data['owner'].replace(dic)

In [11]:
data.head()

   year  selling_price  km_driven    fuel seller_type transmission  owner
0  2007          60000      70000  Petrol  Individual       Manual      1
1  2007         135000      50000  Petrol  Individual       Manual      1
2  2012         600000     100000  Diesel  Individual       Manual      1
3  2017         250000      46000  Petrol  Individual       Manual      1
4  2014         450000     141000  Diesel  Individual       Manual      2

In [14]:
## Apply one hot encoding on the remaining text cols

data_ohe = pd.get_dummies(data[['fuel', 'seller_type', "transmission"]])
data_ohe

,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual
0,0,0,0,0,1,0,1,0,0,1
1,0,0,0,0,1,0,1,0,0,1
2,0,1,0,0,0,0,1,0,0,1
3,0,0,0,0,1,0,1,0,0,1
4,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
4335,0,1,0,0,0,0,1,0,0,1
4336,0,1,0,0,0,0,1,0,0,1
4337,0,0,0,0,1,0,1,0,0,1
4338,0,1,0,0,0,0,1,0,0,1
4339,0,0,0,0,1,0,1,0,0,1

In [15]:
data = pd.concat([data, data_ohe], axis = 1)
data.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual
0,2007,60000,70000,Petrol,Individual,Manual,1,0,0,0,0,1,0,1,0,0,1
1,2007,135000,50000,Petrol,Individual,Manual,1,0,0,0,0,1,0,1,0,0,1
2,2012,600000,100000,Diesel,Individual,Manual,1,0,1,0,0,0,0,1,0,0,1
3,2017,250000,46000,Petrol,Individual,Manual,1,0,0,0,0,1,0,1,0,0,1
4,2014,450000,141000,Diesel,Individual,Manual,2,0,1,0,0,0,0,1,0,0,1

In [16]:
data = data.drop(['fuel', 'seller_type', 'transmission'], axis = 1)
data.head()

,year,selling_price,km_driven,owner,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual
0,2007,60000,70000,1,0,0,0,0,1,0,1,0,0,1
1,2007,135000,50000,1,0,0,0,0,1,0,1,0,0,1
2,2012,600000,100000,1,0,1,0,0,0,0,1,0,0,1
3,2017,250000,46000,1,0,0,0,0,1,0,1,0,0,1
4,2014,450000,141000,2,0,1,0,0,0,0,1,0,0,1

# Seperate X and y

In [18]:
X = data.drop("selling_price", axis = 1)
y = data['selling_price']

# Split the data into trian set and test set

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Apply Linear Regression on train set

In [23]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr

LinearRegression()

In [24]:
lr.fit(X_train, y_train)

LinearRegression()

# Perform predictions

In [26]:
y_pred = lr.predict(X_test)
y_pred

array([1421696.312325  , 1443080.75115816,  195855.27230109,
       1702358.70957553,  352563.61662196,  221046.21709551,
       1437459.0289212 ,  322758.81879197, 1548803.65158464,
        461902.24832131,  125648.37690975,  458446.08456835,
       1320144.99198051,  601279.31432097,   61669.48046909,
        646272.260455  ,  519515.92369486,  469325.2797861 ,
         -8627.74148954,  626613.56901845, -299044.01215623,
        541267.28559215,  524623.89983346,  556903.32050954,
       1191624.65145223, 1226217.06820542,  549351.50074844,
        617973.15963605,  515195.71900366,  436258.08766262,
        410336.85951543,  489274.49085647,  508350.43190998,
        723418.99257402,  237412.53536569,  591223.84442084,
        333991.3509891 ,   31749.2416534 ,   96818.09144841,
        436408.4261039 ,  140020.13836041,  640032.36824545,
        527120.07282454, 1429939.01941969,  396789.2719921 ,
        252461.59683333,  -53003.73530099,  326492.05003347,
        532626.87620975,  321247.56499448,   78950.2992339 ,
        507066.01358014,  529808.1454629 ,  836918.26144466,
        563815.64801545,  476590.94427139, 1702358.70957553,
        317722.85235475,  365683.79821545,  448782.06672779,
        401259.81512459,   88177.68206601,  175755.72278945,
        617973.15963605,  430641.82156406,  674187.3321458 ,
        153412.77290313,  172936.99204259,  781767.92058949,
       1362327.71404153,  267074.02329259,  340039.63755678,
        504473.89076541,  696782.00268076,  519749.56016521,
        573597.16582462,  933948.99780652,  563815.64801545,
        580491.86732981,  402904.59897202,  426689.65211603,
         85401.10798612,  653121.77061537,  277946.18997212,
        159405.98537512, 1377509.58967558,  650400.85950433,
        541267.28559215,  560779.86165409,  429488.28071499,
        877122.32975709,   68665.10600406,  599584.30453925,
        651637.30208695,  315994.77047826,  578060.68041889,
        621228.81969482,  220752.89199015,  611564.50755079,
       1364791.95879738,  183809.15872213,  290983.07353656,
       -122713.98380992,  640161.15654178, -122713.98380992,
        766215.18370117,  140020.13836041,  433665.96484791,
        160119.68787207,   25933.89604005,  415001.17210738,
        223421.28429572,   52442.09763697,  638859.00065131,
         35161.27887218,  440449.5040575 ,  322758.81879197,
       1384092.33088751,  742022.03743047,   23132.96497093,
        688538.18808901,  473998.82145667, 1310467.73347223,
        394039.8475301 ,  175755.72278945,  559772.51081277,
        153999.74635285,  272476.19493021,  659515.67355835,
        479610.4730159 ,  410336.85951543,  532626.87620975,
         26520.86948977, 1575440.6414779 ,  295813.98218663,
        410336.85951543,  104051.50633417,  155219.53826934,
        415721.90314254,   44388.66170429,   76874.58324759,
        -38869.17432794, 1329851.52123784,  270479.72748916,
        568325.0314756 ,  583411.52210645, 1364625.24509282,
        374601.27508637,  -53003.73530099,  801769.65046534,
        254693.35413049,  670402.58938017,  567581.71772961,
        718511.81443311,  455770.66372457, 1702358.70957553,
         10884.83457239,  396789.2719921 ,  405429.68137449,
        317768.34262201,  399381.39480682,  538983.00948955,
        310385.1781681 ,  589963.48409478,  599584.30453925,
        470970.06363352,  668674.50750369,  229393.30137256,
        645352.84760749,  644481.36123297,  587449.9474909 ,
       1316516.0200399 ,  617973.15963605,  514331.67806542,
        766621.03948602,  199948.86906017,  447948.80501314,
        -54320.75798017,  306686.14886618,  470970.06363352,
        330962.59316595,  261688.97966546,  226540.36868614,
        653967.95634657,  541854.25904186,   71954.6736989 ,
        619007.3704426 ,  407668.46720986,   76866.82112896,
        164883.55610991, 1311990.75756153,  243821.18745095,
        767794.98638546,  697946.72986551,  421503.71991928,
        753254.56962758,  201676.95093665,  410336.85951543,
        460684.87040369,  340189.97599807,  872802.12506589,
        432801.92390966,  806089.85515654, 1346480.38538978,
        600105.36742154,  225366.4217867 ,  -26495.53370406,
        671338.28526996, 1362327.71404153, 1341568.59270954,
       -200593.80475326,  475726.90333314,  516059.75994191,
        472194.47008935,  503886.91731569,  392619.4057422 ,
       -323320.45645602,  649582.30883335,  287610.20781265,
        398517.35386857, -160094.35208638,  527514.11677188,
        586701.0898013 ,  706198.39903195,  567775.48718907,
         -9214.71493927,  850623.76658109,  633178.50587067,
        488837.85584803,  661762.17999777,  348243.41193075,
       1283959.5318753 ,  613652.95494485,  617844.37133972,
        690502.13889183, 1297378.3311023 ,  696782.00268076,
        593696.71533626,  120378.77400215,  636427.9253003 ,
        390387.64844505,  186483.37967579,  243234.21400122,
        530395.11891262,  381663.9410336 ,  530395.11891262,
        801769.65046534,  141422.78070565,  626613.56901845,
       1311331.77441046,   47057.40875968,  679629.9722123 ,
        639574.18309206,  506118.67461284, 1702358.70957553,
        383828.6579185 ,  309234.51417747,  410336.85951543,
        588744.04692809,   57356.7767435 ,  311674.56578706,
         28165.65333718,  322171.84534226,  606964.15639898,
        471406.69864194,  373460.16665961,  282846.33957481,
        471406.69864194,  478319.02614787,  598016.92002746,
        -39589.25627869,  469325.2797861 ,  470383.09018379,
       1333464.93575959,  271974.17289528,  644481.36123297,
        357470.79476288,  357320.45632158,  742731.12538809,
        181441.70080116, 1645582.91045594,  634764.82458694,
        448729.54792231,  566130.70334165,  737243.64758587,
        261102.00621574,  550647.5621558 ,  542768.7595365 ,
        206591.1576158 ,  344359.84224798,  361640.66101278,
        308903.29684548,  587620.55025224,  378326.91296922,
       1649471.09467801,  463193.69518936,  553521.36231638,
       1684490.91736101,  303406.8477017 ,  -17268.15087195,
        652992.98231904,  171413.9313246 , 1114048.93632162,
       -100266.54049937,  372519.85623054,  346598.62808335,
        470970.06363352,  879204.66841826,  634533.24736571,
        388148.8626097 ,  580103.63754569,  128560.99823114,
       1645582.91045594,  395438.13648906,   44388.66170429,
        683363.20345378,  636982.06027733,   57122.66784574,
        471569.95618275,  114098.91021322,  201240.31592822,
        437272.46704215,  300564.72740318,  604425.57211274,
        131379.72897801,  836918.26144466,  234593.80461882,
        519515.92369486,  142838.86910726,  732059.40195642,
       1513964.94656652, 1776764.29051344,  471406.69864194,
         34329.26789498,  494329.9481896 ,  550344.32998298,
        401897.24813071,  188723.36540127,  129147.97168086,
        659515.67355835,  513972.19083861,  383828.6579185 ,
        314827.49736722,  475726.90333314,  457453.25533378,
        234593.80461882,  522799.27926017,  479183.0670861 ,
        653121.77061537,  252461.59683333,  289254.99166009,
        348680.04693918,  538434.34349377,  392108.70178333,
        330491.75621799,  384204.46953012,  602924.09816839,
        374751.61352767,   93999.36070155,  413305.92870358,
        184396.13217185,  609332.75025365,  558006.36493848,
        442817.07818918,  396495.94688675,  803497.73234183,
        534715.32360382,  469912.25323582, -234208.10331555,
        -87791.98076274,  569445.77077873,  520251.1763368 ,
       1297707.91739629,  766621.03948602,  460097.89695399,
        635840.95185058, 1689243.14252132,  663993.93729492,
        475726.90333314, 1776764.29051344,  732059.40195642,
        504473.89076541,  208085.6030219 ,  348680.04693918,
         56318.63878153,  172936.99204259,  516990.84129238,
        696910.79097711,  547675.93767741,   48121.89294578,
        392469.0673009 ,  434176.66880678,  626613.56901845,
         87003.73516658,  -59979.79838049,  122152.3461459 ,
        307860.09576562,  418977.26889783,  574578.66020365,
        655224.73961619,  166528.33995733,  714191.60974191,
        603284.46368597,  462766.28925955,  523986.46682735,
        646272.260455  ,  361640.66101278,  831264.79538924,
        292667.72439487,  604568.88201581,  560783.62640229,
        346823.17676638,  490009.7434984 ,  366111.20414527,
        -70057.94613364,  470970.06363352, 1173730.61175938,
        696910.79097711,  -35135.94308646,  583411.52210645,
        659515.67355835, -140581.77602443,  662626.22093602,
        619147.10653551,  757980.63010362,  776583.67496006,
        585056.30595386, -163684.27342476,  474734.07409859,
        396428.90647453,  278969.79843026,  745020.01603003,
        -90384.10357746,  598431.32874566,   94265.83564459,
       1557572.84926338, 1313059.85628694,  732059.40195642,
        444898.49704503,   57356.7767435 ,  470281.71734037,
        470970.06363352,  471557.03708322,  281201.55572741,
        364232.7838275 ,  556903.32050954,  101054.99811055,
        659515.67355835,  462329.65425111,  757980.63010362,
        445318.37474449,  357320.45632158,  559135.07780667,
        511825.95934454,  289841.96510981,  211181.40125729,
         58850.74972223,    5196.9135223 ,  396789.2719921 ,
        541828.912202  , -116892.30517438, 1273005.68860571,
       -342246.05906823,  107103.28467822, 1313059.85628694,
        564956.75644222,  563815.64801545,  363368.74288926,
         61669.48046909,  -76693.20615105,  264398.60244881,
        483503.2717773 ,  460684.87040369,  193036.54155424,
        553318.36846025,   32929.52157503,  155656.17327778,
          4204.08428773,  287023.23436294,  217570.68966097,
        423297.47358903,  784878.46796717,  140020.13836041,
       1398089.79408699, 1523011.21173377,  331399.22817437,
        653121.77061537,  366547.83915369, 1354223.01004083,
        670989.56282991, -181081.22869131,  511964.15969813,
        637485.73569798,  657900.16045997,  661762.17999777,
        780168.62700935,  366111.20414527,  776583.67496006,
        -50185.00455414,  661762.17999777,  521754.70953022,
        426123.2328741 ,  556057.13477835,  615890.49004273,
        322758.81879197,   79310.66475147,  256781.80152453,
       1434402.53401397,  223505.23140922,  460097.89695399,
         78950.2992339 ,  181441.70080116,  404427.63734227,
        639949.07021637, 1482826.6343172 ,    8653.07727526,
        126956.76386149,  604425.57211274,  416765.07405616,
        433002.72190735,  383392.02291007,   62746.85332227,
        372842.04645663,  670381.80620113,   68665.10600406,
        457453.25533378,  396789.2719921 , 1279639.3271841 ,
        484367.31271555,  581043.94797479,  656877.14067106,
        -74461.44885391,  284682.25122496,  214133.88958958,
        299690.5233312 ,  738017.20768172,  657662.55388393,
        788809.03639175, -169321.7349185 ,  480047.10802434,
        524423.10183579, 1649471.09467801,  486019.12510118,
        514124.30824025,  459615.64589974,  671724.81547181,
        836789.47314833,  462329.65425111,  593406.70148349,
        307122.7838746 ,  193036.54155424,   88177.68206601,
        635840.95185058,  637727.68141051,  467086.49395075,
        -61057.17123367,  368192.62300113,  628845.32631558,
        464263.14866458,  547675.93767741,  412131.98180413,
       1434458.19698282,  401005.21738243, 1469994.80853993,
       1144689.37329875,  338198.94070567,  518668.25333793,
       1419797.13609295, 1605682.07431629,  619701.24151254,
       -157862.59478924,  -85333.61553346,  155656.17327778,
        523399.49337763,  431937.88297144,  430235.96577922,
        807412.08124818,  297849.91077523,  530982.09236233,
        250800.55536911, 1362988.70535928,  103226.74353367,
        392469.0673009 ,  392469.0673009 ,  897942.61030391,
        757574.77431878,  326214.98254494, 1419601.3073844 ,
        391478.29731543,  652992.98231904, 1119825.95554926,
        665361.15396167,  674722.79407138, 1354026.00870691,
         58850.74972223,  158474.90402465, 1589265.29648975,
        569445.77077873,  278969.79843026,  569445.77077873,
        514759.08399522,  516923.80088015,  738024.39049503,
       -127477.85204774,  625620.73978388,  321735.21033384,
        393056.04075062, 1623231.85326901, 1428758.63285518,
       1534243.74393091,  147015.76389538,  304891.02657746,
        456281.36768343,  363368.74288926, 1336235.17190026,
       -239618.95687714,  826982.60849932,  487443.29845569,
        484367.31271555,  261102.00621574,  530982.09236233,
       -219519.40736547,  502235.10493007,  532934.72292188,
        521754.70953022,  475726.90333314,  130876.05355735,
       -209234.21413566,  454125.87987715,  348680.04693918,
        656952.82149266,  330962.59316595,  784878.46796717,
        281552.82201004,  499206.3471069 ,  560019.00593629,
        509381.06890634,   -5166.33304463,  728448.28522286,
        388687.97795865,  445048.83548631,  459730.00320604,
        255631.59386285,  280110.90685701,  777884.92061305,
        -44363.32591859,  864112.30966794,  418540.63388939,
        281083.48602134,  390089.45236047,  479610.4730159 ,
        105458.50083081,  556903.32050954,  351647.05687824,
        534497.47864451,  162527.8908596 , 1312849.82921065,
        -37367.7003836 , 1417565.3787958 ,  514936.5067222 ,
        674722.79407138,  600692.34087126,  822002.27653129,
       1475050.26587304,  592328.99897738,  696910.79097711,
       1288279.7365665 ,  425536.25942437,  485719.78024003,
        213286.4295072 ,  565571.09446633,  745020.01603003,
        385623.78020722, 1776764.29051344,  281602.19531991,
        151479.27848966,  666252.55455728,  109364.54025994,
        591464.95803913, 1580513.37962976,  714191.60974191,
        407668.46720986, 1466409.85649064,  523986.46682735,
        459885.81062859,  468130.20920761,  753660.42541243,
        388724.54773171,  131966.70242773,  345163.12515277,
        522928.65642966,  512042.78742352,  415721.90314254,
       1548068.39894274,  336050.63869692,   88177.68206601,
        660898.95690395,  328723.80733061,  532626.87620975,
        510875.51431246,   34574.30542246,  123116.26596904,
        331399.22817437,  790964.47767021, 1471594.10212009,
        366698.17759499,  635840.95185058,  149247.52119254,
        131966.70242773,  529478.55916892,  492571.08708951,
        600692.34087126,  165031.83530211,  168760.09725446,
        468738.30633637,  488837.85584803,  556490.91533905,
        158474.90402465,  692461.79798956,  208672.57647163,
        201676.95093665,  -85333.61553346,  416256.35778679,
        279120.13687156,  425536.25942437,  137008.72671939,
        292203.15978768,  650446.34977159,  904509.32143453,
        688187.08356564,  383344.54495332, -163213.4364768 ,
        -78337.98999846,  609203.96195734,  534858.63350689,
        646272.260455  ,  163729.17166594,  512985.51185149,
       1097487.62020224,  479615.08755523,  692461.79798956,
        417352.04750587,  292606.04632105,  -40320.1887159 ,
        515930.97164559, 1492459.87293416,  525631.25067477,
        479770.04053582,  471406.69864194,  257932.65785776,
        353000.25163038, 1511062.91779061,  392469.0673009 ,
        535856.43203057,  231138.45871028,  653302.88828024,
        226688.64787835,  506118.67461284,  243821.18745095,
         55260.82838382, 1197980.78473201,  617973.15963605,
        352205.28777069,  876093.39097025,  239778.05024827,
        410336.85951543,  470189.32072434, 1546257.01903719,
        602291.6344514 ,  454125.87987715,  775848.42231815,
        317994.95055413,  147602.7373451 ,  -53003.73530099,
        374751.61352767,  111280.17946635,  515983.49045105,
        543499.0428893 ,  555678.91405371,  898446.28572458,
        289254.99166009,  210599.09811124,  469325.2797861 ,
        -28727.29100122,  831869.624046  ,  429856.36215468,
        253602.7052601 ,  -52525.8698148 ,  685826.53797217,
        279556.77187997,  296821.33302796,  176393.15579554,
        242797.5789928 ,  -68783.08012146,    7008.29342782,
        445398.73055173,  566130.70334165,  401259.81512459,
        537600.54398838, 1572765.22063412, 1443080.75115816,
        648866.5470873 ,  315763.193257  , 1323428.34754582,
       1398909.8151339 ,  582824.54865673,  714191.60974191,
       1684490.91736101,  292527.12894301,  401109.47668329,
        286030.40512839,  757980.63010362,  592545.82705635,
        -68052.79676865,   63757.92786315,  471406.69864194,
          8066.10382554,  530395.11891262,  -15036.39357482,
        454712.85332687,  375188.2485361 ,   68665.10600406,
        460684.87040369,  732059.40195642,  569445.77077873,
        510011.47337423,  593928.29255752,  348680.04693918,
       1466841.87695976,  460097.89695399,  617386.18618633,
         76718.54193674,  644481.36123297,  361640.66101278,
        -22277.28584358, 1684490.91736101,  280764.92071898,
        617973.15963605,  410336.85951543,  122152.3461459 ,
        396789.2719921 ,  353000.25163038, 1192648.25991037,
       -115097.18288566,  282703.02967174,  606964.15639898,
        513467.63712719,  392469.0673009 , 1354223.01004083,
        722832.0191243 ,   57356.7767435 ,  533684.68660745,
        550137.28450632, 1384016.06139664,  267427.36027195,
        236388.92690754,   -5166.33304463,  670402.58938017,
        244962.2958777 ,  -49850.44897102,  483503.2717773 ,
        619701.24151254, 1385080.54558274,  123557.8702666 ,
        341834.7598455 ,  228101.8545045 ,  -68639.77021837,
       1684490.91736101])

In [27]:
X_test

,year,km_driven,owner,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual
2089,2012,70070,1,0,1,0,0,0,1,0,0,1,0
1077,2013,86000,1,0,1,0,0,0,1,0,0,1,0
1495,2014,120000,3,0,0,0,0,1,0,1,0,0,1
555,2019,30000,1,0,1,0,0,0,1,0,0,1,0
2615,2009,95000,2,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,2008,102000,1,0,0,0,0,1,1,0,0,0,1
4197,2010,120000,3,0,1,0,0,0,0,1,0,0,1
1818,2013,42000,3,0,0,0,0,1,0,1,0,0,1
2644,2005,60000,3,0,0,0,0,1,0,1,0,0,1
917,2018,10000,1,0,1,0,0,0,1,0,0,1,0

In [28]:
lr.coef_

array([ 3.51486110e+04, -8.64040938e-01, -2.42764443e+04,  4.87114099e+04,
        3.38084510e+05, -5.45416503e+05,  1.07110005e+05,  5.15105782e+04,
       -2.83476117e+04, -1.02836250e+05,  1.31183862e+05,  4.21690620e+05,
       -4.21690620e+05])

In [29]:
lr.intercept_

-69943916.70296131

# Check Accuracy and error

In [30]:
from sklearn.metrics import r2_score, mean_squared_error
r2_score(y_test, y_pred)

0.5020508720207613

In [32]:
np.sqrt(mean_squared_error(y_pred, y_test))

430016.28756922344