In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

# Feature Extraction: 
- Extracting imp features from the data that have hugh impact on the target.
- 1. Univariate Feature Selection
  2. Recurssive Feature Elimination
  3. Recursive Feature Elimination with Cross - Validation
  4. Tree based feature selection

In [2]:
data = pd.read_csv("weatherAUS.csv")
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [3]:
data.shape

(145460, 23)

In [4]:
data.isnull().sum() / len(data) * 100

Date              0.000000
Location          0.000000
MinTemp           1.020899
MaxTemp           0.866905
Rainfall          2.241853
Evaporation      43.166506
Sunshine         48.009762
WindGustDir       7.098859
WindGustSpeed     7.055548
WindDir9am        7.263853
WindDir3pm        2.906641
WindSpeed9am      1.214767
WindSpeed3pm      2.105046
Humidity9am       1.824557
Humidity3pm       3.098446
Pressure9am      10.356799
Pressure3pm      10.331363
Cloud9am         38.421559
Cloud3pm         40.807095
Temp9am           1.214767
Temp3pm           2.481094
RainToday         2.241853
RainTomorrow      2.245978
dtype: float64

In [5]:
cols_to_drop = ["Evaporation", "Sunshine", "Cloud9am", "Cloud3pm", "Location", "Date", "WindGustDir", "WindGustSpeed",
                "WindDir9am", "WindDir3pm", "WindSpeed9am", "WindSpeed3pm"]
data = data.drop(cols_to_drop, axis = 1)

In [6]:
data.head()

,MinTemp,MaxTemp,Rainfall,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,7.4,25.1,0.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,12.9,25.7,0.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,9.2,28.0,0.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,17.5,32.3,1.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

In [7]:
data = data.dropna()

# Seperate X and y

In [8]:
X = data.drop("RainTomorrow", axis = 1)
y = data['RainTomorrow']

In [9]:
X.isnull().sum()

MinTemp        0
MaxTemp        0
Rainfall       0
Humidity9am    0
Humidity3pm    0
Pressure9am    0
Pressure3pm    0
Temp9am        0
Temp3pm        0
RainToday      0
dtype: int64

In [10]:
# Missing Value imputation

#from sklearn.impute import SimpleImputer
#si = SimpleImputer(strategy = "median")
#si

In [11]:
#X[["MinTemp", "MaxTemp", "Rainfall", "Humidity9am", 
 #  "Humidity3pm", "Pressure9am", "Pressure3pm", "Temp9am", "Temp3pm" ]] = si.fit_transform(X[["MinTemp", "MaxTemp", "Rainfall", "Humidity9am", 
  # "Humidity3pm", "Pressure9am", "Pressure3pm", "Temp9am", "Temp3pm" ]])

In [12]:
X.isnull().sum()

MinTemp        0
MaxTemp        0
Rainfall       0
Humidity9am    0
Humidity3pm    0
Pressure9am    0
Pressure3pm    0
Temp9am        0
Temp3pm        0
RainToday      0
dtype: int64

In [13]:
# Missing Value imputation

#from sklearn.impute import SimpleImputer
#si = SimpleImputer(strategy = "most_frequent")
#si

In [14]:
#X[["RainToday"]] = si.fit_transform(X[["RainToday"]])
#X.isnull().sum()

In [15]:
X.head()

,MinTemp,MaxTemp,Rainfall,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday
0,13.4,22.9,0.6,71.0,22.0,1007.7,1007.1,16.9,21.8,No
1,7.4,25.1,0.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No
2,12.9,25.7,0.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No
3,9.2,28.0,0.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No
4,17.5,32.3,1.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No

# Feature Scaling

In [16]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
mms

MinMaxScaler()

In [17]:
X_scaled = pd.DataFrame(mms.fit_transform(X.drop("RainToday", axis = 1)), columns = X.drop("RainToday", axis = 1).columns)
X_scaled.head()

,MinTemp,MaxTemp,Rainfall,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm
0,0.513064,0.446154,0.001617,0.71,0.22,0.449587,0.4800,0.461894,0.446667
1,0.370546,0.494505,0.000000,0.44,0.25,0.497521,0.4912,0.468822,0.502222
2,0.501188,0.507692,0.000000,0.38,0.30,0.447934,0.5056,0.556582,0.477778
3,0.413302,0.558242,0.000000,0.45,0.16,0.613223,0.5712,0.489607,0.551111
4,0.610451,0.652747,0.002695,0.82,0.33,0.500826,0.4624,0.482679,0.622222

# Split the data

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.25, random_state = 43)

# Method 1 : Univariate Feature Selection

- This method works by selecting the K best features based on a score. The K number of Features has to be set explicitly

In [19]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

ufs = SelectKBest(chi2, k = 5)
ufs

SelectKBest(k=5, score_func=<function chi2 at 0x0000021998BDDEE0>)

In [20]:
ufs.fit_transform(X_train, y_train)

array([[5.39083558e-04, 8.30000000e-01, 4.80000000e-01, 5.75206612e-01,
        3.55555556e-01],
       [0.00000000e+00, 6.40000000e-01, 3.90000000e-01, 6.76033058e-01,
        3.53333333e-01],
       [0.00000000e+00, 6.90000000e-01, 5.20000000e-01, 6.74380165e-01,
        4.13333333e-01],
       ...,
       [0.00000000e+00, 2.50000000e-01, 1.40000000e-01, 5.10743802e-01,
        5.95555556e-01],
       [5.92991914e-03, 7.40000000e-01, 7.20000000e-01, 5.38842975e-01,
        3.60000000e-01],
       [0.00000000e+00, 5.70000000e-01, 4.00000000e-01, 5.23966942e-01,
        3.20000000e-01]])

In [23]:
# Creating a dict to visualize which features were selected with the highest score
diccionario = {key:value for (key, value) in zip(ufs.scores_, X_train.columns)}
sorted(diccionario.items())

[(2.5077062443426086, 'Temp9am'),
 (32.580688464720865, 'MinTemp'),
 (100.31639475351722, 'Pressure3pm'),
 (120.53094112466991, 'MaxTemp'),
 (127.71698366321317, 'Pressure9am'),
 (177.9199018519326, 'Temp3pm'),
 (338.2292088127553, 'Humidity9am'),
 (449.0629163551288, 'Rainfall'),
 (1565.1835968285088, 'Humidity3pm')]

# Observations:

- From the above output, we observe that the last 5 columns i.e.Pressure9am, Temp3pm, Humidity9am, Rainfall, Humidity3pm are having the highest impact on the target.
- So these will stand out as the best features.