# Missing Value Analysis and Treatment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("Data.csv")
data

    Country   Age   Salary Purchased
0    France  44.0  72000.0        No
1     Spain  27.0      NaN       Yes
2   Germany  30.0  54000.0        No
3     Spain   NaN  61000.0        No
4   Germany  40.0  64000.0       Yes
5    France  35.0      NaN       Yes
6       NaN  40.0  52000.0        No
7    France  48.0  79000.0       Yes
8   Germany   NaN  83000.0        No
9    France  37.0  67000.0       Yes
10   France  49.0      NaN       Yes

## Notes:

- The value at a particular cell in a column if not present we call that as missing value.
- Python represents the missing values as NaN(Not a number)