In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("world_population.csv")
data.head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00

In [3]:
data.shape

(234, 17)

In [4]:
data.columns

Index(['Rank', 'CCA3', 'Country', 'Capital', 'Continent', '2022 Population',
       '2020 Population', '2015 Population', '2010 Population',
       '2000 Population', '1990 Population', '1980 Population',
       '1970 Population', 'Area (km²)', 'Density (per km²)', 'Growth Rate',
       'World Population Percentage'],
      dtype='object')

## Display the top 10 Ranking Countries

In [7]:
top_10 = data[data["Rank"] <= 10]    ### data[condition]
top_10

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24

## Sorting the top 10 countries output

In [9]:
top_10.sort_values("Rank")

## We do not specify to sort in ascending but still the output is sorted in ascending order. 
## It simply mean sort_values() will always sort in a ascending order

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60

In [10]:
## Sort the top 10 ranked countries in a descending order

top_10.sort_values("Rank", ascending = False)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88

## Display the population of India

In [12]:
data[data["Country"] == "India"]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77

## Display the population of Asia

In [14]:
data[data["Continent"] == "Asia"]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,4.112877e+07,3.897223e+07,3.375350e+07,2.818967e+07,1.954298e+07,1.069480e+07,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
9,140,ARM,Armenia,Yerevan,Asia,2.780469e+06,2.805608e+06,2.878595e+06,2.946293e+06,3.168523e+06,3.556539e+06,3135123.0,2534377.0,29743.0,93.4831,0.9962,0.03
13,91,AZE,Azerbaijan,Baku,Asia,1.035807e+07,NaN,9.863480e+06,9.237202e+06,8.190337e+06,7.427836e+06,6383060.0,5425317.0,86600.0,119.6082,1.0044,0.13
15,154,BHR,Bahrain,Manama,Asia,1.472233e+06,1.477469e+06,1.362142e+06,1.213645e+06,7.114420e+05,5.174180e+05,362595.0,222555.0,765.0,1924.4876,1.0061,0.02
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
23,165,BTN,Bhutan,Thimphu,Asia,7.824550e+05,7.725060e+05,7.432740e+05,7.055160e+05,5.872070e+05,5.584420e+05,415257.0,298894.0,38394.0,20.3796,1.0064,0.01
29,175,BRN,Brunei,Bandar Seri Begawan,Asia,4.490020e+05,4.417250e+05,4.214370e+05,3.960530e+05,3.339260e+05,2.619280e+05,187921.0,133343.0,5765.0,77.8841,1.0081,0.01
33,73,KHM,Cambodia,Phnom Penh,Asia,1.676784e+07,1.639686e+07,1.541752e+07,1.436353e+07,1.211884e+07,8.910808e+06,6198959.0,6708525.0,181035.0,92.6221,1.0108,0.21
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
73,131,GEO,Georgia,Tbilisi,Asia,3.744385e+06,3.765912e+06,3.771132e+06,NaN,NaN,NaN,NaN,NaN,69700.0,53.7214,0.9964,0.05
89,104,HKG,Hong Kong,Hong Kong,Asia,7.488865e+06,7.500958e+06,7.399838e+06,7.132438e+06,6.731195e+06,5.838574e+06,4978544.0,3955072.0,1104.0,6783.3922,0.9992,0.09
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
94,17,IRN,Iran,Tehran,Asia,8.855057e+07,8.729019e+07,8.179084e+07,7.537386e+07,6.554438e+07,5.579363e+07,38520664.0,28449705.0,1648195.0,53.7258,1.0071,1.11
95,35,IRQ,Iraq,Baghdad,Asia,4.449612e+07,4.255698e+07,3.775781e+07,3.126488e+07,2.462886e+07,1.765838e+07,13653369.0,9811347.0,438317.0,101.5158,1.0221,0.56
98,98,ISR,Israel,Jerusalem,Asia,9.038309e+06,8.757489e+06,8.007778e+06,7.328445e+06,6.116958e+06,4.803254e+06,3744608.0,2907307.0,20770.0,435.1617,1.0155,0.11
102,11,JPN,Japan,Tokyo,Asia,1.239517e+08,1.252448e+08,1.272509e+08,1.281054e+08,1.268039e+08,1.236863e+08,117624196.0,105416839.0,377930.0,327.9753,0.9947,1.55
104,83,JOR,Jordan,Amman,Asia,1.128587e+07,1.092872e+07,9.494246e+06,6.931258e+06,5.056174e+06,3.480587e+06,2216903.0,1557374.0,89342.0,126.3221,1.0123,0.14
105,66,KAZ,Kazakhstan,Nursultan,Asia,1.939800e+07,1.897924e+07,1.783591e+07,1.662784e+07,1.523625e+07,1.686656e+07,14172710.0,12265305.0,2724900.0,7.1188,1.0105,0.24
108,129,KWT,Kuwait,Kuwait City,Asia,4.268873e+06,4.360444e+06,3.908743e+06,2.943356e+06,1.934901e+06,1.674938e+06,1493870.0,802786.0,17818.0,239.5821,1.0044,0.05
109,110,KGZ,Kyrgyzstan,Bishkek,Asia,6.630623e+06,6.424874e+06,5.914980e+06,5.483774e+06,4.935182e+06,4.394734e+06,3691209.0,3016384.0,199951.0,33.1612,1.0158,0.08
110,103,LAO,Laos,Vientiane,Asia,7.529475e+06,7.319399e+06,6.787419e+06,6.323418e+06,5.430853e+06,4.314443e+06,3297519.0,2675283.0,236800.0,31.7968,1.0141,0.09
112,119,LBN,Lebanon,Beirut,Asia,5.489739e+06,5.662923e+06,6.398940e+06,4.995800e+06,4.320642e+06,3.593700e+06,2963702.0,2381791.0,10452.0,525.2334,0.9816,0.07
119,167,MAC,Macau,Concelho de Macau,Asia,6.951680e+05,6.762830e+05,6.152390e+05,5.572970e+05,4.318960e+05,3.502270e+05,245332.0,247284.0,30.0,23172.2667,1.0125,0.01
122,45,MYS,Malaysia,Kuala Lumpur,Asia,3.393822e+07,3.319999e+07,3.106883e+07,NaN,NaN,1.751705e+07,13215707.0,10306508.0,330803.0,102.5934,1.0109,0.43
123,174,MDV,Maldives,Malé,Asia,5.237870e+05,5.144380e+05,4.355820e+05,NaN,NaN,2.249570e+05,164887.0,123243.0,300.0,1745.9567,1.0045,0.01
135,134,MNG,Mongolia,Ulaanbaatar,Asia,3.398366e+06,3.294335e+06,2.964749e+06,2.702520e+06,2.450979e+06,2.161433e+06,1697780.0,1293880.0,1564110.0,2.1727,1.0151,0.04
140,26,MMR,Myanmar,Nay Pyi Taw,Asia,5.417931e+07,5.342320e+07,5.148395e+07,4.939099e+07,4.553833e+07,4.009955e+07,33465781.0,27284112.0,676578.0,80.0784,1.0071,0.68
143,49,NPL,Nepal,Kathmandu,Asia,3.054758e+07,2.934863e+07,2.761032e+07,2.716157e+07,2.455950e+07,1.961653e+07,15600442.0,12501285.0,147181.0,207.5511,1.0171,0.38
151,56,PRK,North Korea,Pyongyang,Asia,2.606942e+07,2.586747e+07,2.525802e+07,2.468644e+07,2.336706e+07,2.079952e+07,17973650.0,14996879.0,120538.0,216.2755,1.0038,0.33
155,127,OMN,Oman,Muscat,Asia,4.576298e+06,4.543399e+06,4.191776e+06,2.881914e+06,2.344253e+06,1.804524e+06,1017462.0,670693.0,309500.0,14.7861,1.0123,0.06
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
158,122,PSE,Palestine,Ramallah,Asia,5.250072e+06,5.019401e+06,4.484614e+06,3.992278e+06,3.139954e+06,2.124609e+06,1453620.0,1118241.0,6220.0,844.0630,1.0227,0.07
163,13,PHL,Philippines,Manila,Asia,1.155590e+08,1.121910e+08,1.030314e+08,9.463670e+07,7.795822e+07,6.155890e+07,48419546.0,37435586.0,342353.0,337.5434,1.0147,1.45
167,143,QAT,Qatar,Doha,Asia,2.695122e+06,2.760385e+06,2.414573e+06,1.713504e+06,6.459370e+05,4.416750e+05,277450.0,118007.0,11586.0,232.6189,1.0026,0.03
182,41,SAU,Saudi Arabia,Riyadh,Asia,3.640882e+07,3.599711e+07,3.274985e+07,2.941193e+07,2.154739e+07,1.600476e+07,10171710.0,6106191.0,2149690.0,16.9368,1.0128,0.46
187,113,SGP,Singapore,Singapore,Asia,5.975689e+06,5.909869e+06,5.650018e+06,5.163590e+06,4.053602e+06,3.022209e+06,2400729.0,2061831.0,710.0,8416.4634,1.0058,0.07
194,29,KOR,South Korea,Seoul,Asia,5.181581e+07,5.184469e+07,5.099440e+07,4.881304e+07,4.678859e+07,4.412004e+07,38170501.0,32601143.0,100210.0,517.0722,0.9997,0.65
197,61,LKA,Sri Lanka,Colombo,Asia,2.183214e+07,2.171508e+07,2.133670e+07,2.066856e+07,1.877637e+07,1.720409e+07,14943645.0,12388769.0,65610.0,332.7563,1.0027,0.27
202,60,SYR,Syria,Damascus,Asia,2.212525e+07,2.077260e+07,1.920518e+07,2.233756e+07,1.630765e+07,1.240900e+07,8898954.0,6319199.0,185180.0,119.4797,1.0376,0.28
203,57,TWN,Taiwan,Taipei,Asia,2.389339e+07,2.382146e+07,2.351214e+07,2.308308e+07,2.219473e+07,2.058617e+07,18100281.0,14957870.0,36193.0,660.1662,1.0014,0.30
204,95,TJK,Tajikistan,Dushanbe,Asia,9.952787e+06,9.543207e+06,8.524063e+06,7.621779e+06,6.272998e+06,5.417860e+06,4045965.0,2993019.0,143100.0,69.5513,1.0208,0.12
206,20,THA,Thailand,Bangkok,Asia,7.169703e+07,7.147566e+07,7.029440e+07,6.827049e+07,6.306660e+07,5.522841e+07,45737753.0,NaN,513120.0,139.7276,1.0013,0.90
207,155,TLS,Timor-Leste,Dili,Asia,NaN,1.299995e+06,1.205813e+06,1.088486e+06,NaN,7.581060e+05,642224.0,554021.0,14874.0,90.1772,1.0154,0.02
213,18,TUR,Turkey,Ankara,Asia,8.534124e+07,8.413543e+07,7.964618e+07,7.319534e+07,6.411355e+07,5.432414e+07,44089069.0,35540990.0,783562.0,108.9145,1.0067,1.07
214,111,TKM,Turkmenistan,Ashgabat,Asia,6.430770e+06,6.250438e+06,5.766431e+06,5.267970e+06,4.569132e+06,3.720278e+06,2862903.0,2201432.0,488100.0,13.1751,1.0140,0.08
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9.441129e+06,9.287289e+06,8.916899e+06,8.481771e+06,3.275333e+06,1.900151e+06,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
224,43,UZB,Uzbekistan,Tashkent,Asia,3.462765e+07,3.352666e+07,3.094942e+07,2.861423e+07,2.492555e+07,2.057910e+07,15947129.0,12011361.0,447400.0,77.3975,1.0160,0.43
228,16,VNM,Vietnam,Hanoi,Asia,9.818686e+07,9.664868e+07,9.219140e+07,8.741101e+07,7.900114e+07,6.691261e+07,52968270.0,41928849.0,331212.0,296.4472,1.0074,1.23
231,46,YEM,Yemen,Sanaa,Asia,3.369661e+07,3.228405e+07,2.851654e+07,2.474395e+07,1.862870e+07,1.337512e+07,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42

## Display the countries where the World Population percentage of those countries is greater than 10%

In [15]:
data[data["World Population Percentage"] > 10]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77

In [16]:
## Load the Financial Sample data

data = pd.read_excel("Financial Sample.xlsx")
data.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [17]:
data.shape

(700, 16)

In [19]:
data["Segment"].unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business'], dtype=object)

## Display the data where Segment is Government and Country is Germany

In [20]:
data[(data['Segment'] == "Government") & (data['Country'] == "Germany")]

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
5,Government,Germany,Carretera,None,1513.0,3,350,529550.0,0.00,529550.00,393380.0,136170.00,2014-12-01,12,December,2014
13,Government,Germany,Montana,None,2146.0,5,7,15022.0,0.00,15022.00,10730.0,4292.00,2014-09-01,9,September,2014
19,Government,Germany,Paseo,None,1006.0,10,350,352100.0,0.00,352100.00,261560.0,90540.00,2014-06-01,6,June,2014
30,Government,Germany,Paseo,None,1513.0,10,350,529550.0,0.00,529550.00,393380.0,136170.00,2014-12-01,12,December,2014
34,Government,Germany,Velo,None,1006.0,120,350,352100.0,0.00,352100.00,261560.0,90540.00,2014-06-01,6,June,2014
49,Government,Germany,Amarilla,None,1686.0,260,7,11802.0,0.00,11802.00,8430.0,3372.00,2014-07-01,7,July,2014
88,Government,Germany,VTT,Low,263.0,250,7,1841.0,18.41,1822.59,1315.0,507.59,2014-03-01,3,March,2014
124,Government,Germany,Velo,Low,2966.0,120,350,1038100.0,20762.00,1017338.00,771160.0,246178.00,2013-10-01,10,October,2013
125,Government,Germany,Velo,Low,2877.0,120,350,1006950.0,20139.00,986811.00,748020.0,238791.00,2014-10-01,10,October,2014
133,Government,Germany,VTT,Low,2877.0,250,350,1006950.0,20139.00,986811.00,748020.0,238791.00,2014-10-01,10,October,2014
140,Government,Germany,Amarilla,Low,2966.0,260,350,1038100.0,20762.00,1017338.00,771160.0,246178.00,2013-10-01,10,October,2013
145,Government,Germany,Carretera,Low,2580.0,3,20,51600.0,1548.00,50052.00,25800.0,24252.00,2014-04-01,4,April,2014
149,Government,Germany,Montana,Low,1958.0,5,7,13706.0,411.18,13294.82,9790.0,3504.82,2014-02-01,2,February,2014
152,Government,Germany,Montana,Low,1797.0,5,350,628950.0,18868.50,610081.50,467220.0,142861.50,2013-09-01,9,September,2013
210,Government,Germany,Amarilla,Low,1907.0,260,350,667450.0,26698.00,640752.00,495820.0,144932.00,2014-09-01,9,September,2014
213,Government,Germany,Montana,Medium,1159.0,5,7,8113.0,405.65,7707.35,5795.0,1912.35,2013-10-01,10,October,2013
214,Government,Germany,Paseo,Medium,1372.0,10,7,9604.0,480.20,9123.80,6860.0,2263.80,2014-01-01,1,January,2014
222,Government,Germany,Amarilla,Medium,1159.0,260,7,8113.0,405.65,7707.35,5795.0,1912.35,2013-10-01,10,October,2013
227,Government,Germany,Carretera,Medium,1016.0,3,7,7112.0,355.60,6756.40,5080.0,1676.40,2013-11-01,11,November,2013
264,Government,Germany,VTT,Medium,2297.0,250,20,45940.0,2297.00,43643.00,22970.0,20673.00,2013-11-01,11,November,2013
268,Government,Germany,Amarilla,Medium,1350.0,260,350,472500.0,23625.00,448875.00,351000.0,97875.00,2014-02-01,2,February,2014
281,Government,Germany,Montana,Medium,1460.0,5,350,511000.0,30660.00,480340.00,379600.0,100740.00,2014-05-01,5,May,2014
309,Government,Germany,Velo,Medium,1001.0,120,20,20020.0,1201.20,18818.80,10010.0,8808.80,2014-08-01,8,August,2014
341,Government,Germany,Paseo,Medium,2125.0,10,7,14875.0,1041.25,13833.75,10625.0,3208.75,2013-12-01,12,December,2013
348,Government,Germany,Velo,Medium,588.0,120,20,11760.0,823.20,10936.80,5880.0,5056.80,2013-12-01,12,December,2013
366,Government,Germany,Montana,Medium,645.0,5,20,12900.0,1032.00,11868.00,6450.0,5418.00,2014-07-01,7,July,2014
371,Government,Germany,Paseo,Medium,1259.0,10,7,8813.0,705.04,8107.96,6295.0,1812.96,2014-04-01,4,April,2014
372,Government,Germany,Paseo,Medium,1095.0,10,7,7665.0,613.20,7051.80,5475.0,1576.80,2014-05-01,5,May,2014
373,Government,Germany,Paseo,Medium,1366.0,10,20,27320.0,2185.60,25134.40,13660.0,11474.40,2014-06-01,6,June,2014
376,Government,Germany,Paseo,Medium,1598.0,10,7,11186.0,894.88,10291.12,7990.0,2301.12,2014-08-01,8,August,2014
377,Government,Germany,Paseo,Medium,2409.0,10,7,16863.0,1349.04,15513.96,12045.0,3468.96,2013-09-01,9,September,2013
378,Government,Germany,Paseo,Medium,1934.0,10,20,38680.0,3094.40,35585.60,19340.0,16245.60,2014-09-01,9,September,2014
380,Government,Germany,Paseo,Medium,2146.0,10,350,751100.0,60088.00,691012.00,557960.0,133052.00,2013-11-01,11,November,2013
385,Government,Germany,Velo,Medium,2338.0,120,7,16366.0,1309.28,15056.72,11690.0,3366.72,2014-06-01,6,June,2014
389,Government,Germany,VTT,Medium,2338.0,250,7,16366.0,1309.28,15056.72,11690.0,3366.72,2014-06-01,6,June,2014
391,Government,Germany,VTT,Medium,422.0,250,350,147700.0,11816.00,135884.00,109720.0,26164.00,2014-08-01,8,August,2014
396,Government,Germany,Amarilla,Medium,1366.0,260,20,27320.0,2185.60,25134.40,13660.0,11474.40,2014-06-01,6,June,2014
398,Government,Germany,Amarilla,Medium,1520.0,260,20,30400.0,2432.00,27968.00,15200.0,12768.00,2014-11-01,11,November,2014
424,Government,Germany,Velo,Medium,1307.0,120,350,457450.0,41170.50,416279.50,339820.0,76459.50,2014-07-01,7,July,2014
440,Government,Germany,Carretera,Medium,663.0,3,20,13260.0,1193.40,12066.60,6630.0,5436.60,2014-05-01,5,May,2014
446,Government,Germany,Paseo,Medium,360.0,10,7,2520.0,226.80,2293.20,1800.0,493.20,2014-10-01,10,October,2014
449,Government,Germany,VTT,Medium,360.0,250,7,2520.0,226.80,2293.20,1800.0,493.20,2014-10-01,10,October,2014
466,Government,Germany,Paseo,High,241.0,10,20,4820.0,482.00,4338.00,2410.0,1928.00,2014-10-01,10,October,2014
473,Government,Germany,Velo,High,241.0,120,20,4820.0,482.00,4338.00,2410.0,1928.00,2014-10-01,10,October,2014
474,Government,Germany,Velo,High,2665.0,120,7,18655.0,1865.50,16789.50,13325.0,3464.50,2014-11-01,11,November,2014
484,Government,Germany,VTT,High,1870.0,250,350,654500.0,65450.00,589050.00,486200.0,102850.00,2013-12-01,12,December,2013
504,Government,Germany,Carretera,High,792.0,3,350,277200.0,30492.00,246708.00,205920.0,40788.00,2014-03-01,3,March,2014
509,Government,Germany,Montana,High,766.0,5,350,268100.0,29491.00,238609.00,199160.0,39449.00,2014-01-01,1,January,2014
510,Government,Germany,Montana,High,2992.0,5,20,59840.0,6582.40,53257.60,29920.0,23337.60,2013-10-01,10,October,2013
520,Government,Germany,Paseo,High,2992.0,10,20,59840.0,6582.40,53257.60,29920.0,23337.60,2013-10-01,10,October,2013
572,Government,Germany,Paseo,High,1531.0,10,20,30620.0,3674.40,26945.60,15310.0,11635.60,2014-12-01,12,December,2014
574,Government,Germany,VTT,High,1531.0,250,20,30620.0,3674.40,26945.60,15310.0,11635.60,2014-12-01,12,December,2014
580,Government,Germany,Carretera,High,442.0,3,20,8840.0,1149.20,7690.80,4420.0,3270.80,2013-09-01,9,September,2013
589,Government,Germany,Paseo,High,2708.0,10,20,54160.0,7040.80,47119.20,27080.0,20039.20,2014-02-01,2,February,2014
596,Government,Germany,Paseo,High,357.0,10,350,124950.0,16243.50,108706.50,92820.0,15886.50,2014-11-01,11,November,2014
615,Government,Germany,Carretera,High,280.0,3,7,1960.0,274.40,1685.60,1400.0,285.60,2014-12-01,12,December,2014
622,Government,Germany,VTT,High,280.0,250,7,1960.0,274.40,1685.60,1400.0,285.60,2014-12-01,12,December,2014
633,Government,Germany,Montana,High,1199.0,5,350,419650.0,58751.00,360899.00,311740.0,49159.00,2014-04-01,4,April,2014
670,Government,Germany,Paseo,High,1158.0,10,20,23160.0,3474.00,19686.00,11580.0,8106.00,2014-03-01,3,March,2014

In [21]:
data.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [22]:
data["Discount Band"].unique()

array(['None', 'Low', 'Medium', 'High'], dtype=object)

## Display Low dicount products from France

In [27]:
data[(data['Country'] == "France") & (data["Discount Band"] == "Low")]["Product"]

53         Paseo
54         Paseo
55         Paseo
56          Velo
63     Carretera
67     Carretera
70       Montana
77         Paseo
82         Paseo
83          Velo
91           VTT
95           VTT
97      Amarilla
101    Carretera
108        Paseo
115        Paseo
121        Paseo
128         Velo
142     Amarilla
144    Carretera
150      Montana
151      Montana
153      Montana
155        Paseo
157        Paseo
163        Paseo
178        Paseo
193        Paseo
203         Velo
204          VTT
206          VTT
Name: Product, dtype: object

## Count the Low Discount products from France

In [26]:
data[(data['Country'] == "France") & (data["Discount Band"] == "Low")]["Product"].count()

31

In [ ]:
data[condtion][col_name].count()

## Count the product sold in the month of January in Germany

In [29]:
data[(data["Country"] == "Germany") & (data["Month Name"] == "January")]["Product"].count()

7

In [30]:
data.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [31]:
data["Profit"].sum()

16893702.259999998

In [32]:
data["Profit"].mean()

24133.860371428567

In [34]:
data["Profit"].agg(['sum', 'mean'])

sum     1.689370e+07
mean    2.413386e+04
Name: Profit, dtype: float64

In [35]:
## Dispaly min and max profit
data["Profit"].agg(['min', 'max'])

min    -40617.5
max    262200.0
Name: Profit, dtype: float64

## Display the total profit and average profit for Germany

In [37]:
data[data["Country"] == "Germany"]["Profit"].agg(['sum', 'mean'])

sum     3.680389e+06
mean    2.628849e+04
Name: Profit, dtype: float64

## Display the total and average profit for Government segment

In [38]:
data[data["Segment"] == "Government"]["Profit"].agg(['sum', 'mean'])

sum     1.138817e+07
mean    3.796058e+04
Name: Profit, dtype: float64

In [39]:
data.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

## Display the average and total profit for France during December month

In [40]:
## Country = France
## Month Name = December
## total and average
## Profit

In [41]:
data[(data["Country"] == "France") & (data["Month Name"] == "December")]["Profit"].agg(['sum', 'mean'])

sum     538652.52
mean     25650.12
Name: Profit, dtype: float64

In [42]:
data.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

## Display all the products where Profit is greater than average profit

In [43]:
## profit > avg profit    ==> condition
## Products

In [46]:
data[data["Profit"] > data["Profit"].mean()]["Product"]

5      Carretera
12       Montana
19         Paseo
23         Paseo
26         Paseo
         ...
646        Paseo
657          VTT
673        Paseo
678        Paseo
679        Paseo
Name: Product, Length: 164, dtype: object

In [49]:
data.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

## Display the product details for Mexico